 /* :root{
    --color-backgd: hsl(180, 22%, 66%);
    --color-backgd-dk: hsl(180, 22%, 36%) ;
    --color-border: black;
    --color-ball: pink;
    --text-color: black;
    --ball-gradient-lt: rgb(202, 170, 161);
    --ball-gradient-dk: rgb(139, 37, 71) ;
    --ball-shadow:hsl(180, 22%, 26%);
    --color-footer: darkgrey;
    --font-size: 44px;
    --color-header:transparent;
} 


body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--font-size);
}

header{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:1.1em;
    padding-top:1%;
    padding-right:1%;
    color:lightcoral;
    text-align: right;
    height:10vh;
    background-color: var( --color-backgd);
}

.drawing-area{
    position: relative;
    width: 1280px;
    height:80vh;
    background-color:var(--color-backgd); 
    background:linear-gradient( var(--color-backgd), var(--color-backgd-dk)); 
}

.text-area{
    margin-top:1%;
    position:absolute;
    text-align: center;
    width:100%;
    font-size:1.8em;
}

.circle{
    
    top:40%;
    left:40%;
    position: absolute;
    z-index:1; 
    width:250px;
    height:250px;
    border-radius: 150px;
    background-color: var(--color-ball);
    border-color: var(--color-border);
    background:radial-gradient(var(--ball-gradient-lt),var(--ball-gradient-dk) );  
    box-shadow: 3px 3px 3px var(--ball-shadow) ;
}


#colortry {
    background-color: hsl(180, 50%, 50%);
    color: hsl(0, 0%, 100%);
    widows: 100%;
    height:100px;
}


footer{
    height:10vh;
   background-color: var(--color-footer);
} */


/* experiments */
    .square {
         width: 200px;
         height: 200px;
         margin-bottom: 20px;
    }

    .expcircle {
        width: 200px;
        height: 200px;
        border-radius:100px;
        margin-bottom: 20px;
   }

    .blue {
        background-color: blue;
    }
    .red {
        background-color: red;
    }
	.yellow {
        background-color: yellow;
    }
    .dashed-border {
        border: dashed 4px black;
    }

    /* experimental color picker from vue examples website */
    body {
        background: #f8f8f8;
        display: flex;
        width: 100%;
        height: 500vh;
        justify-content: center;
        align-items: center;
      }
      
      .color-picker {
        position: relative;
      }
      
      .color-picker__overlay {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0px;
        left: 0;
        background: black;
        z-index: 0;
        opacity: 0;
      }
      
      .color-picker__flyout {
        width: 240px;
        border: 1px solid #eee;
        border-radius: 4px;
        background: white;
        box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.12);
        font-family: "Roboto", "Helvetica Neue", sans-serif;
        position: absolute;
        bottom: -170px;
        left: -100px;
        z-index: 2;
      }
      
      .color-picker__inner {
        padding: 1.5rem 1rem;
      }
      
      .color-chip {
        height: 260px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border-radius: 4px 4px 0 0;
      }
      
      .color-chip__inner {
        text-align: center;
      }
      
      .color-chip__subtitle {
        margin-top: 0.5rem;
        opacity: 0.7;
        font-weight: normal;
        font-size: 15px;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
      }
      
      .color-chip__title {
        color: white;
        margin: 0;
        font-size: 50px;
        letter-spacing: 4px;
        font-family: Helvetica Neue;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
      }
      
      .control {
        width: 100%;
        height: 12px;
        border-radius: 12px;
        border: 1px solid #ddd;
      }
      
      .control + .control {
        margin-top: 1rem;
      }
      
      .control input {
        width: 100%;
        margin: 0;
      }
      
      .control input[type=range] {
        -webkit-appearance: none;
        width: 100%;
        background: transparent;
      }
      
      .control input[type=range]:focus {
        outline: none;
      }
      
      .control input[type=range]::-ms-track {
        width: 100%;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
      }
      
      .control input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: 1px solid #ddd;
        height: 20px;
        width: 20px;
        border-radius: 50px;
        background: #ffffff;
        cursor: pointer;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
        margin-top: -4px;
      }
      
      .swatch {
        width: 24px;
        height: 24px;
        margin: 1rem auto 0 auto;
        border: 4px solid white;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
        cursor: pointer;
      }
      
      .swatch:hover {
        border: 4px solid white;
        opacity: 0.8;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
      }
      
      .pop-enter-active,
      .pop-leave-active {
        transition: transform .5s, opacity .5s;
        transition-timing-function: cubic-bezier(.8, .3, 0.25, 1.75);
        transform: scale(1);
      }
      
      .pop-enter,
      .pop-leave-active {
        opacity: 0;
        transform: scale(0);
      }