<!DOCTYPE html>
<!-- Colour Quiz by Lydia Douglas -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--styles-->
    <link href="assets/css/styles_reset.css" rel="stylesheet" type="text/css">
    <link href="assets/css/styles.css" rel="stylesheet" type="text/css">
    <!--scripts-->
    <script src="assets/scripts/jquery-3.3.1.min.js"></script>
    <script src="assets/scripts/app.js" type="text/javascript"></script>
    <!-- <script src="assets/scripts/jquery.ScrollMagic.js" type="text/javascript"></script>
    <script src="assets/scripts/debug.addIndicators.js"></script> -->

    <!--fonts -->
    <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive|Gochi+Hand|Short+Stack" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat|Handlee|Indie+Flower|La+Belle+Aurore|League+Script|Sacramento"
        rel="stylesheet">

    <!-- vue -->
    <script type="text/javascript" src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>

    <!-- for animation -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">


    <title>Ball / Call</title>
</head>

<body>
    <!-- using animate.css3 libary -->


    <section id="welcome-section">
        <div id="welcome-text" class="lets-text">
            <div class="textright">
                <span id="lets-span">Lets take a </span>
            </div>
            <div class="textleft">
                <span id="circle-span">circle</span>
                <span id="ball-span" class="hidden">ball</span>
                <!-- <span id="dots-span" class="hidden">...</span> -->
            </div>
        </div>
    </section>


    <section id="jball-section" class="stage-section">
        <div id="jball"></div>
        <img src="/assets/images/troll.png" height="600" width="600" alt="troll" id="pictroll" />
        <button id="shrink">Shrink</button>
        <button id="unshrink">Unshrink</button>
    </section>

    <section id="action-section">
        <div id="text">
            <p id="small-text" class="action-call-text hidden">And make it small</p>
            <p id="hole-text" class="action-call-text hidden">Drop down the hole</p>
            <p id="tall-text" class="action-call-text hidden">Then make it tall</p>
            <p id="colour-text" class="action-call-text hidden">And Colour call</p>
            <p id="black-text" class="action-call-text hidden">Then Black it all</p>
            <p id="troll-text" class="action-call-text hidden">Is it a troll?</p>
            <p id="hall-text" class="action-call-text hidden">Run down the hall</p>
            <p id="repeat-text" class="action-call-text hidden">Repeat it all</p>
        </div>
    </section>

    <section id="fall-section" class="stage-section"> this is fall section</section>
    <section id="tall-section" class="stage-section"> this is tall section</section>
    <section id="hall-section" class="stage-section"> this is hall section</section>

    <!-- <section id="troll-section" class="stage-section hidden">
        <div id="trollball2" class="jball">
            <img src="/assets/images/troll.png" height="600" width="600" alt="troll" id="pictroll" />
        </div>
    </section>  -->

    <section id="colour-section" class="stage-section">
        <div id="app">
            <div id="controls-panel">
                <label id="hue">Hue</label>
                <input type="number" v-model="hueNumber">
                <label id="hue">Saturation</label>
                <input type="number" v-model="satNumber">
                <label id="hue">Lightness</label>
                <input type="number" v-model="lightNumber">
            </div>
            <div id="controls-panel2">
                <!-- <input type="number" v-model="radiusNumber"> -->
                <input type="number" v-model="sizeNumber">
            </div>
            <div id="stage">
                <div class="ball" :style="{ 'background':'radial-gradient( circle at 100px 100px, transparent, black', 'width':sizeNumber + 'px', 'height':sizeNumber + 'px', 'background-color': 'hsl(' +hueNumber+', '+satNumber+'%, '+ lightNumber +'%)' }">
                    <!-- <span class="shadow"></span> -->
                </div>
            </div>

        </div>
    </section>

    <div class="slide" id="slidemarginleft">
        <div class="inner">
            <!-- <div id="orient-panel"> -->
            <button id="b-small" class="b-action">Small</button>
            <button id="b-hole" class="b-action">Hole</button>
            <button id="b-tall" class="b-action">Tall</button>
            <button id="b-colour" class="b-action">Colour Call</button>
            <button id="b-black" class="b-action">Black All</button>
            <button id="b-troll" class="b-action">Troll</button>
            <button id="b-hall" class="b-action">Hall</button>
            <button id="b-repeat" class="b-action">Repeat All</button>
            <!-- </div> -->
        </div>
        <div id="app-name">
            <button class="b-slide animated shake">Ball/Call</button>
        </div>
        <!-- <button class="b-slide"> Ball/Call</button> -->
    </div>
    <!-- end view block -->
    <footer id="footer" role="contentinfo">
        <p>&copy; copyright Lydia Douglas. 2018</p>
    </footer>


</body>

</html>