<!DOCTYPE html>
<!-- Colour Quiz by Lydia Douglas -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--styles-->
    <link href="assets/css/styles_reset.css" rel="stylesheet" type="text/css">
    <link href="assets/css/styles-tunnel.css" rel="stylesheet" type="text/css">

    <!--scripts-->
    <script src="assets/scripts/jquery-3.3.1.min.js"></script>
    <script src="assets/scripts/app-tunnel.js" type="text/javascript"></script>

    <!--fonts -->
    <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive|Gochi+Hand|Short+Stack" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat|Handlee|Indie+Flower|La+Belle+Aurore|League+Script|Sacramento"
        rel="stylesheet">

    <!-- aos scrolling library-->
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet" type="text/css">

    <!-- vue -->
    <script type="text/javascript" src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>

    <!-- for animation -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">


    <title>Ball / Call</title>
</head>

<body>
    <!-- using animate.css3 libary -->
    <div id="main">
        <div id="slider-wrapper">
            <div class="slide" id="slidemarginleft">
                <div class="inner">
                    <!-- <div id="orient-panel"> -->
                    <button id="b-small" class="b-action">Small</button>
                    <!-- <button id="b-hole" class="b-action">Hole</button> -->
                    <!-- <button id="b-tall" class="b-action">Tall</button> -->
                    <button id="b-colour" class="b-action">Colour Call</button>
                    <button id="b-black" class="b-action">Black All</button>
                    <button id="b-troll" class="b-action">Troll</button>
                    <!-- <button id="b-hall" class="b-action">Hall</button> -->
                    <button id="b-repeat" class="b-action">Repeat All</button>
                    <!-- </div> -->
                </div>
                <div id="app-name">
                    <button class="b-slide invisible"> &lt;&lt;</button>
                </div>
            </div>
        </div>

        <section id="welcome-section">
            <div id="welcome-text" class="lets-text">
                <div id="lets-div" class="textright">
                    <span id="lets-span">Lets take a </span>
                </div>
                <div class="t-circle-left">circle</div>
                <div class="t-ball-left">ball</div>
            </div>
        </section>

        <div id="circle" class="circle-div"></div>
        <!-- <div id="jball-wrapper">
        <div id="jball" class="ball jball "></div>
        <img id="pictroll" src="/assets/images/troll.png" height="600" width="600" alt="troll" >
    </div> -->

        <div id="vue-wrapper">
            <section id="colour-section" class="c-section">
                <div id="app">
                    <div id="controls-panel2">
                        <div class="mini-panel">
                            <label id="size">Size</label>
                            <input type="number" v-model="sizeNumber">
                        </div>
                        <div class="mini-panel">
                            <label id="hue">Hue</label>
                            <input type="number" v-model="hueNumber">
                        </div>
                        <div class="mini-panel">
                            <label id="hue">Saturation</label>
                            <input type="number" v-model="satNumber">
                        </div>
                        <div class="mini-panel">
                            <label id="hue">Lightness</label>
                            <input type="number" v-model="lightNumber">
                        </div>
                    </div>
                    <div id="stage">
                        <div class="ball" :style="{ 'background':'radial-gradient( circle at 100px 100px, transparent, black',
                     'width':sizeNumber + 'px', 'height':sizeNumber + 'px', 
                     'background-color': 'hsl(' +hueNumber+', '+satNumber+'%, '+ lightNumber +'%)' }"></div>
                        <!-- <span class="shadow"></span>  -->
                        <img id="pictroll" class="invisible" src="/assets/images/troll.png" height="600" width="600" alt="troll">
                    </div>
                </div>
            </section>
            <!-- <button class="b-slide"> </button> -->
        </div>
        <div id="tall-slider"></div>

    </div>
    <div id="scroller-wrapper">
        <div id="spacer"></div>
        <div id="small-text" class="action-call-text" data-aos="zoom-in-left" data-aos-anchor-placement="center-bottom">
            <span class="streachLow">And size it</span>
            <span class="shortstreach"> Small </span>
        </div>

        <div id="hole-text" class="action-call-text" data-aos="flip-left" data-aos-anchor-placement="center-bottom">
            <span class="streachLow">Drop down the</span> Hole
        </div>
        <div id="tall-text" class="action-call-text" data-aos="zoom-in-down" data-aos-anchor-placement="center-center">
            <span>Let's
                <em>make it</em>
            </span>
            <span class="shortstreach">Tall</span>
        </div>
        <div id="trigger1"></div>
        <div id="colour-text" class="action-call-text" data-aos="zoom-in-up" data-aos-anchor-placement="top-center">
            <span class="streachLow">Stop!</span>
            <span class="blackish-bold">Colour call</span>
        </div>
        <div id="black-text" class="action-call-text" data-aos="zoom-in-down" data-aos-anchor-placement="center-bottom">
            <span class="blackish-bold"> Then Black</span>
            <span data-aos="fade-left" class="streachHigh"> it All</span>
        </div>

        <div id="troll-text" class="action-call-text" data-aos="zoom-in-right" data-aos-anchor-placement="center-center">
            Is it
            <span data-aos="fade-right" class="streachHigh">a Troll?</span>
        </div>
        <div id="hall-text" class="action-call-text" data-aos="zoom-in-left" data-aos-anchor-placement="center-center">
            <span class="blackish-med">Repeat </span>
            <span data-aos="fade-left" class="streachLow">it All</span>
        </div>
        <div>the end</div>
        <!-- <div id="small-helper" class="helper"> Touch<br> Me </div>  -->
        <!-- <button id="shrink">Shrink</button>
        <button id="unshrink">Unshrink</button> -->
    </div>

</body>


</html>