 
/* Circle/Ball app created by Lydia Douglas 2018 */

/* This ia a playful app created in cooperation with my daughter(6years)
 It is meant to ceducate in cretive fun way
 She is starting to read and work with larger numbers (hundreds)
 
 This app is meant to tap into kids curiousity and while they have fun pick up 
 a few skills on the way (well it was fun for me too)*/

/* Everything revolves around a rhyme(short small words)
    the animations and interaction support the words in rhyme
    the ball color/size change- made her try larger numbers 
    - she kept coming back to it many many times*/
 
 :root{
    /* --color-backgd: hsl(180, 26%, 74%); */
    /* --color-backgd-dk: hsl(180, 22%, 36%) ; */
    --color-nonview: hsl(40, 6%, 91%);
    --color-border: black;
    --color-ball: pink;
    --color-ball-top-ref: pink;
    --color-ball-bot-ref: pink;
    --text-color: hsl(214, 57%, 25%);
    --ball-gradient-lt:  hsl(0, 0%, 50%);
    --ball-gradient-dk: hsl(0, 10%, 20%);
    --ball-shadow:hsl(180, 22%, 26%);
    --color-footer: hsl(40, 6%, 91%);
    --font-size: 18px;
    --color-header:transparent;

    --font-playful: 'Gochi Hand';
    --font-cursive: 'Caveat';
    --font-choppy: 'Short Stack';
    --color-backgrd: rgb(250, 184, 179);
} 

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*---------------------Setting up grid--(this grid comes fro W3Schools)---------------------------------*/

div[class*='col-'] {
    text-align: center;
    padding: 5px;
    display: inline-block;
}

div[class*='col-']>img {
    cursor: pointer;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* .row {
    margin: 5px;
} */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.col-6>img {
    cursor: pointer;
}
/* set up columns */


body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--font-size);
    background-color: var(--color-nonview);
    height: 100%;
    width:100%;
    font-family: var(--font-choppy), Var(--font-playful), cursive,'Courier New', Courier, monospace;
}

header{
    font-size:3.1em;
    padding:1.5%;
    color:lightcoral;
    text-align: right;
    height:100px;
    background-color: var( --color-backgd);
  }

  
  #welcome-section{
  width:100%;
  height:90%;
  background-color: var(--color-backgrd) ; 
  /* background-color:green; */
  }
  .lets-text{
    font-family: var(--font-choppy);
    font-size: 3.5em;
    font-weight: bolder;
    letter-spacing: 0.1em;
    text-align:center;
    color:var(--text-color);
    /* background-color:blue; */
    display: flex;
    padding:1.6%;
    padding-top:3%;
  }

.textright{
    text-align: right;
}
textleft{
    text-align: left;
}


  .action-call-text{
    font-family:var(--font-cursive);
    font-size:4em;
    font-weight:600;
    text-align: right;
    padding-right:10%;
  }
  #jball-section, #action-section {
      background-color: var(--color-backgrd);
  }

  #jball-wrapper{
    display:flex; 
    width:100%;
    height:580px;
    /* background-color:yellow; */
  }
  #jball{
    width:300px;
    height:300px;
    border-radius: 150px;
    background-color:var(--color-nonview);
    border: 8px;
    border-color: var(--color-border);
    display: inline-block;
  }


/* non view */
/* .drawing-area{
    position: relative;
    width: 100vh;
    height:50vh;
    background:linear-gradient( var(--color-backgd), var(--color-backgd-dk)); 
} 

.text-area{
    margin-top:1%;
    position:absolute;
    text-align: center;
    width:100%;
    font-size:1.8em;
    padding:10px;
} */

/* .circle{
    
    top:40%;
    left:40%;
    position: absolute;
    z-index:1; 
    width:250px;
    height:250px;
    border-radius: 150px;
    background-color: var(--color-ball);
    border-color: var(--color-border);
    /* background:radial-gradient(transparent, pink); */
   /* background:radial-gradient(var(--ball-gradient-lt),var(--ball-gradient-dk) );  
    box-shadow: 3px 3px 3px var(--ball-shadow) ;
} */


/* #colortry {
    background-color: hsl(180, 50%, 50%);
    color: hsl(0, 0%, 100%);
    widows: 100%;
    height:100px;
} */

#app{
    position: relative;
    width: 100%;
    height:80vh;
    /* background:linear-gradient( var(--color-backgd), var(--color-backgd-dk));  */
}
#controls-panel{
    background-color: hsl(180, 50%, 50%);
    color: hsl(0, 0%, 100%);
    width:15%;
    height:100%;
    float: left;
    padding:1%;
}
#controls-panel2{
    background-color: hsl(180, 50%, 50%);
    color: hsl(0, 0%, 100%);
    width:15%;
    height:100%;
    float:right;
    padding:1%;
}
#stage{
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 20px;
    perspective: 1200px;
    perspective-origin: 50% 50%;
}

.ball .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    transform: rotateX(90deg) translateZ(-150px);
    z-index: -1;
  }
  .ball {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 50%;
    position: relative;
    background: radial-gradient(circle at 50% 120%, #314461, #628694 80%, #266e85 100%);
  }
  .ball:before {
    content: "";
    position: absolute;
    background: radial-gradient(circle at 50% 120%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
    border-radius: 50%;
    bottom: 2.5%;
    left: 5%;
    opacity: 0.6;
    height: 100%;
    width: 90%;
    filter: blur(10px);
    z-index: 2;
  }
  .ball:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5%;
    left: 10%;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
    transform: translateX(-28%) translateY(-32%) skewX(-20deg);
    filter: blur(10px);
  }
  /* colour ball section */
  
footer{
    height:10vh;
   background-color: var(--color-footer);
}


  
  /* font-family: 'Caveat', cursive;
  
  font-family: 'La Belle Aurore', cursive;
  
  font-family: 'League Script', cursive;
  
  font-family: 'Sacramento', cursive;
  
  font-family: 'Indie Flower', cursive;
  
  font-family: 'Handlee', cursive; */
  
  

  
  
  

   