 /* Circle/Ball app created by Lydia Douglas 2018 */

 /* This ia a playful  created in cooperation with my daughter(6years)
 It is meant to ceducate in cretive fun way
 She is starting to read and work with larger numbers (hundreds)
 
 This app is meant to tap into kids curiousity and while they have fun pick up 
 a few skills on the way (well it was fun for me too)*/

 /* Everything revolves around a rhyme(short small words)
    the animations and interaction support the words in rhyme
    the ball color/size change- made her try larger numbers 
    - she kept coming back to it many many times*/

 :root {
     --color-border: black;
     --text-color: lightgrey;
  
     --ball-gradient-lt: hsl(300, 40%, 33%);
     --ball-gradient-dk: hsl(0, 10%, 20%);
     --ball-shadow: hsl(180, 15%, 26%);
     --color-footer: hsl(40, 6%, 91%);
     --font-size: 18px;
    --text-color-neutral:lightgrey;
     --text-color-dark: #17a7ac;
     --color-header: transparent;
     --font-playful: 'Gochi Hand';
     --font-cursive: 'Caveat';
     --font-choppy: 'Short Stack';
     --purple-glass:rgba(107, 91, 149, 0.315);
     --purple-glass-active:rgba(56, 46, 85, 0.562);
     --text-color-light:  rgb(132, 190, 207);
     --text-color-dark: rgb(4, 28, 63);
     --text-color-bright-yl: rgb(203, 223, 116);
     --text-color-bright-org: rgb(190, 112, 81);
     --text-color-troll: rgb(2, 119, 84);
 }

 html {
     box-sizing: border-box;
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+64,207cca+72,7db9e8+100 */
     background: rgb(30, 87, 153);
     /* Old browsers */
     background: -moz-linear-gradient(top, rgba(30, 87, 153, 1) 0%, rgba(41, 137, 216, 1) 64%, rgba(32, 124, 202, 1) 72%, rgba(125, 185, 232, 1) 100%);
     /* FF3.6-15 */
     background: -webkit-linear-gradient(top, rgba(30, 87, 153, 1) 0%, rgba(41, 137, 216, 1) 64%, rgba(32, 124, 202, 1) 72%, rgba(125, 185, 232, 1) 100%);
     /* Chrome10-25,Safari5.1-6 */
     background: linear-gradient(to bottom, rgba(30, 87, 153, 1) 0%, rgba(41, 137, 216, 1) 64%, rgba(32, 124, 202, 1) 72%, rgba(125, 185, 232, 1) 100%);
     /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     background-attachment: fixed;
     height: 100%;
 }

 *, *:before, *:after {
     box-sizing: inherit;
 }

 body {
     margin-top: 0px;
     margin-bottom: 0px;
     font-size: var(--font-size);
     color: var(--text-color-neutral);
     height: 10000px;
     width: 100%;
     font-family: var(--font-choppy), Var(--font-playful), cursive, 'Courier New', Courier, monospace;
     transition: background-color .5s ease-in-out;
     -moz-transition: background-color .5s ease-in-out;
     -webkit-transition: background-color .5s ease-in-out; 
    -o-transition: background-color .5s ease-in-out; 
 }
/*>>>>>>>>>>>>>>>>>>> helper classes  >>>>>>>>>>>>>>>>>>>>>>>>>*/
.position-fixed {
    position: fixed;
}
.position-unfixed {
    position: relative;
}
.invisible{
    visibility:hidden;
}
.visible{
    visibility: visible;
}
.black-all{
   background-color:  rgb( 0 ,0,0);
}


/* related animation css plugin */
.animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    /* visibility:visible; */
}


/* ********************* slider  **********************************/

 /* this is the nav slider */
 #slider-wrapper{
    width:100%
}
 .slide {
     position: relative;
     overflow: hidden;
     width: 100%;
     margin-top: 0.1%;
 }

 .slide .inner {
     position: absolute;
     left: 18%;
     top: 0;
     width: 100%;
     /* margin-left: 3%; */
     /* background-color: pink; */
 }

 .js .slide .inner {
     display: none;
 }

 .b-action {
     cursor: pointer;
     background-color: var(--purple-glass);
     border: 2px solid #17a7ac;
     color: #17a7ac;
     font-size: 22px;
     font-family: var(--font-choppy), 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     min-width: 2.5%;
     transition: background-color 0.5s, color 0.8s, transform 0.5s;
     padding-top: 10px;
     z-index: 2;
 }

 .b-action:hover {
     background-color: #4d9da0;
     /* #1b75f7;*/
     color: #9dd9e4ef;
     transform: scale(1.1) translate(1px, 1px);
 }

 .b-action:active {
     outline: none;
     border: none;
 }

 .b-action:focus {
     outline: 0;
 }

 #app-name {
     float: right;
     padding-right: 12%;
 }

 .b-slide {
     cursor: pointer;
     /* background-color: transparent; */
     border: 2px solid #17a7ac;
     border: 2px;
     font-size: 2em;
     color: var(--text-color-neutral);
     font-family: var(--font-choppy), 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     transition: background-color 0.5s, color 0.8s, transform 0.5s;
     background-color: rgba(19, 227, 241, 0.733);
     margin-top: 1%;
     z-index: 4;
 }

 .b-slide:hover {
     background-color: rgba(107, 91, 149, 0.315);
     /* #4d9da0; */
     /* #1b75f7;*/
     color: white;
     transform: scale(1.1) translate(1px, 1px);
 }

 .b-slide:active {
     outline: none;
     border: none;
 }

 .b-slide:focus {
     outline: 0;
 }
 /* <<<<<<<<<<<<<<<<<<<<<<<<<  slider >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/******************************* welcome text area ****************** */
 #welcome-text {
     min-width: 95%;
     min-height:  2px;
     margin: 0 auto;
     /* margin-top: 5%; */
 }
 .lets-text {
     font-family: var(--font-choppy);
     font-size: 3.5em;
     min-width: 65%;
     letter-spacing: 0.1em;
     text-align: center;
     color: var(--text-color);
     display: flex;
     padding-left: 20%;
     /* padding-bottom: 10px; */
 }
 #lets-div {
     text-align: right;
     margin-right: 0.5em;
 }
 #spacer {
     height: 60vh;
 }
/***************** end welcome text area***************************** */



 #circle {
     width: 400px;
     height: 400px;
     border-radius: 50%;
     background-color: var(--text-color);
     border: 8px;
     border-color: var(--color-border);
     margin: 0 auto;
     margin-top: 5%;
 }

 .ball {
     display: inline-block;
     width: 400px;
     height: 400px;
     border-radius: 50%;
     position: relative;
     margin: 0 auto;
     margin-top: 5%;
     background: radial-gradient(circle at 50% 120%, var(--ball-gradient-lt), var(--ball-gradient-lt) 80%, var(--ball-gradient-lt) 90%);
     z-index: 2;
     background-color:green;
     transition: background-color .5s ease-in-out;
     -moz-transition: background-color .5s ease-in-out;
     -webkit-transition: background-color .5s ease-in-out; 
    -o-transition: background-color .5s ease-in-out; 
    --almost-black: rgb(47, 47, 48);
 }

 .ball:before {
     content: "";
     position: absolute;
     background: radial-gradient(circle at 50% 120%, rgba(185, 184, 184, 0.5), rgba(128, 127, 127, 0) 70%);
     border-radius: 50%;
     bottom: 2.5%;
     left: 5%;
     opacity: 0.6;
     height: 100%;
     width: 90%;
     filter: blur(10px);
     z-index: 3;
 }

 .ball:after {
     content: "";
     width: 100%;
     height: 100%;
     position: absolute;
     top: 5%;
     left: 10%;
     border-radius: 50%;
     background: radial-gradient(circle at 50% 50%, rgba(226, 226, 226, 0.7), rgba(226, 226, 226, 0.6) 14%, rgba(226, 226, 226, 0) 24%);
     transform: translateX(-28%) translateY(-32%) skewX(-20deg);
     filter: blur(10px);
 }

 .ball .shadow {
     position: absolute;
     width: 100%;
     height: 100%;
     background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
     transform: rotateX(90deg) translateZ(-150px);
     z-index: 1;
 }

 .shrink {
     transition: width 2s, height 2s;
 }

 .shrink:hover {
     width: 50px;
     height: 50px;
 }

 .invisible {
     opacity: 0;
 }

 /* 
[data-aos="circle"] {
    animation-delay: 2s;
    transform:translate(20px,20px); 
    opacity:0;
}
[data-aos="circle"].aos-animate {
    animation-delay: 2s; 
     transform:translate(0px,0px);
    opacity:1;
} */

 @keyframes fade-in-right {
     from {
         opacity: 0;
         transform: translateX(-200px);
     }
     to {
         opacity: 1;
         transform: translateX(0);
     }
 }

 @keyframes fade-in-left {
     from {
         opacity: 0;
         transform: translateX(200px);
     }
     to {
         opacity: 1;
         transform: translateX(0);
     }
 }

 @keyframes grow-left {
     from {
         transform: scaleX(0);
     }
     to {
         transform: scaleX(1);
     }
 }

 .t-circle-left {
     display: none;
 }

 .t-ball-left {
     display: none;
 }

 p {
     display: none;
 }

 @keyframes color-me-in {
     0% {
         background: lightblue;
     }
     /* Adding a step in the middle */
     50% {
         background: blue;
     }
     100% {
         background: black;
     }
 }

 /**************** initial animations *******************/

 /*  'let take a' animation */

 /* .textright, #circle-section {
    opacity: 0;
    animation: fade-in-right ease 1.9s forwards;
  } */

 /* 'circle' animation*/

 /* .textleft  {
    transform: scaleX(0);
    transform-origin: left;
    animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
    animation-delay: 1s;
  } */

 /* circle roll in */

 /* #circle-section{
    animation-delay: 1s;
  }

  .textleft {
    opacity: 0;
    animation: fade-in-left ease 1.9s forwards;
  } */

 /* #ball-span {
    opacity:0;
    animation:fade-in-right ease 2s forwards;
  } */

 .hidden {
     display: none;
 }

 .visible {
     display: block;
 }

 .helper {
     width: 90px;
     height: 90px;
     border-radius: 90px;
     text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 5;
     background-color: #58b6b975;
     transition: opacity .6s;
 }

 /* <<<<<<<<<<<<<<<<<<<<<<<<< Vue Section >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

 #scroller-wrapper{
    width:40%;
    /* background-color:purple; */
 }
 #vue-wrapper{

    width:60%;
    float:right;
    right:0%;
    /* background-color:blue; */
 }
 #app {
     position: relative;
     width: 100%;
     height: 60vh;
     /* background:linear-gradient( var(--color-backgd), var(--color-backgd-dk));  */
 }

 /* .c-section {
     display: none;
 }  */
 /* #controls-panel {
     /* background-color: hsl(180, 50%, 50%); */
    /* color: hsl(0, 0%, 100%);
     width: 15%;
     height: 100%;
     float: left;*/
     /*padding: 1%;
 } */

 #controls-panel2 {
     /* background-color: hsl(180, 50%, 50%); */

     color: hsl(0, 0%, 100%);
     width: 20%;
     height: 100%;
     float: right;
     margin-right:1%;
     padding: 1%;
     display:flex;
     flex-direction: column;
     justify-content: space-around;
 }
 .mini-panel{
    background-color: var(--purple-glass);
    border: 2px solid #17a7ac;
     color: var(--text-color);
     text-align: center;
     padding:5%;
     font-size: 1.2em;
     /* width:100%; */
     min-height:80px;
     min-width:150px;
 }
 .mini-panel:hover{
     transform: scale(1.1) translate(1px, 1px);
 }
 label, input{
   
    background-color: transparent;
    color:inherit;
    width:100px;
    min-height: 20px;
    border:none;
    height: 45%;
    font-size: 1em;
    text-align: center;
    margin-top: 5%;

}

 input:active{
    background-color:var(--purple-glass-active);
    border:none;
} 

 .circle-div {
     width: 100%;
     min-height: 300px;
     display: none;
 }

 #stage {
     width: 400px;
     height: 500px;
     display: inline-block;
     /* margin: 20px; */
     /* perspective: 1200px; */
     /* perspective-origin: 50% 50%; */
 }




 
 /* <<<<<<<<<<<<<<<<<<<<<<<<< end Vue Section >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

 #action-section {
    min-width: 200px;
}

h4 {
    font-family: var(--font-cursive);
    font-size: 3em;
    font-weight: 300;
    background-color: rgba(107, 91, 149, 0.315);
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

 .action-call-text {
     padding-left: 4%;
     font-family: var(--playful), Arial, Helvetica, sans-serif;
     font-size: 2em;
     width:30%;
     margin-bottom:5%;
     z-index:100;
 }

 .shortstreach {
     font-style: var(--cursive), Arial, Helvetica, sans-serif;
     font-size: 2em;
     letter-spacing: 0.02em;
 }

 .blackish-bold {
     font-style: var(--choppy), Arial, Helvetica, sans-serif;
     font-weight: bold;
     font-size: 2em;
 }

 .streachLow {
     font-style: var(--cursive), Arial, Helvetica, sans-serif;
     font-weight: bold;
     font-size: 2.5;
     letter-spacing: 0.2em;
 }

 .streachHigh {
     font-style: var(--font-playful), Arial, Helvetica, sans-serif;
     font-weight: 300;
     font-size: 1.5em;
     letter-spacing: 0.07em;
 }

 .blackish-med {
     font-style: var(--choppy), Arial, Helvetica, sans-serif;
     font-weight: bold;
     font-size: 0.5em;
 }

 .position-fixed{
    position:fixed;
    z-index:105;
 }

